<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfJAKr5yKHbZ0Cx_ebtOwEYHG4pwwgkn8</string>
	<key>GCM_SENDER_ID</key>
	<string>242301906654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IitgCampusSync.app</string>
	<key>PROJECT_ID</key>
	<string>iitg-campus-sync</string>
	<key>STORAGE_BUCKET</key>
	<string>iitg-campus-sync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242301906654:ios:9dcce642613090e41b9c4f</string>
</dict>
</plist>